@import "bourbon/bourbon"

/*Сброс*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

button, button:active, button:focus,
input, input:active, input:focus
	outline: none

ol, ul
	list-style: none

.hidden
	display: none

input::-webkit-input-placeholder
	color:#a1a1a1
	opacity: 1
input::-moz-placeholder
	color:#a1a1a1
	opacity: 1
input:-moz-placeholder
	color:#a1a1a1
	opacity: 1
input:-ms-input-placeholder
	color:#a1a1a1
	opacity: 1