/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  .h-nav__item {
    padding-right: 30px;
  }
  .p-catitem__top {
    height: 300px;
  }
  .p-lcab__description {
    height: 40px;
  }
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .header__bottom {
    display: none;
  }
  .h-link__item {
    width: 100%;
    text-align: center;
  }
  .h-link {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-baner {
    height: 420px;
  }
  .f-nav__item {
    padding-left: 30px;
  }
  .page__p-cardslider {
    padding-bottom: 30px;
  }
  .page__p-cardcontent {
    padding-bottom: 30px;
  }
  .p-cardcontent__soc {
    padding-top: 30px;
  }
  .page__p-advantages {
    margin-bottom: 30px;
  }
  .p-lastitem {
    height: 210px;
  }
  .page__p-orderform {
    padding-bottom: 15px;
  }
  .page__p-sum {
    padding-bottom: 30px;
  }
  .hidden-sm {
    display: none;
  }
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .p-indexslider__item {
    height: 480px;
  }
  .p-indexslider__title {
    font-size: 40px;
    line-height: 40px;
  }
  .p-indexslider__description {
    font-size: 13px;
    margin-top: 22px;
    max-width: 194px;
    margin-bottom: 11px;
  }
  .page__p-baner {
    float: none;
    width: 100%;
    padding: 0;
  }
  .p-baner {
    height: 314px;
  }
  .page__p-baner-left {
    margin-bottom: 8p;
  }
  .page__baners {
    padding-bottom: 69px;
  }
  .p-information {
    max-width: 301px;
    width: 100%;
    margin: 0 auto;
  }
  .p-information__list::before {
    content: '';
    display: table;
  }
  .p-information__list::after {
    content: '';
    display: table;
    clear: both;
  }
  .p-information__item {
    margin-left: 0 !important;
    width: 50%;
    display: block;
    float: left;
    padding-bottom: 15px;
  }
  .page__p-information {
    padding-bottom: 63px;
  }
  .f-subscription__description {
    max-width: 276px;
    width: 100%;
    margin: 0 auto;
  }
  .f-subscription__form {
    max-width: 303px;
  }
  .hidden-xs {
    display: none;
  }
  .f-nav__item {
    display: inline-block;
    width: auto;
    margin-bottom: 26px;
    padding-left: 28px;
  }
  .footer__top {
    padding-bottom: 0;
  }
  .header {
    position: relative;
  }
  .header__h-mobmenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
    padding-bottom: 37px;
  }
  .h-nav__item {
    padding-right: 0;
    width: 100%;
  }
  .h-nav__link {
    display: inline-block;
  }
  .h-search {
    max-width: 100%;
    height: 40px;
    border: 1px solid #cecece;
  }
  .h-search__input {
    height: 40px;
    line-height: 38px;
    padding-left: 0;
    padding-right: 40px;
  }
  .h-search__submit {
    left: auto;
    right: 0;
    width: 40px;
    top: 0;
    bottom: 0;
    background-size: auto;
  }
  .h-mobmenu__top {
    padding-bottom: 25px;
  }
  .h-mobmenu__top::before {
    content: '';
    display: table;
  }
  .h-mobmenu__top::after {
    content: '';
    display: table;
    clear: both;
  }
  .h-mobmenu__search {
    width: 80%;
    float: left;
  }
  .h-mobmenu__fav {
    width: 20%;
    float: right;
    text-align: right;
    padding: 10px 0;
  }
  .header__h-mobmenu {
    display: none;
  }
  .h-mobnav__btn.active {
    position: relative;
  }
  .h-mobnav__btn.active::after {
    content: '';
    width: 24px;
    height: 21px;
    display: block;
    background-image: url(../img/icons/close.png);
    background-size: contain;
    background-position: center center;
    position: absolute;
    left: 0;
    top: -4px;
    z-index: 1;
    background-color: #fff;
  }
  .page__p-path {
    padding-top: 0;
    padding-bottom: 25px;
  }
  .p-title {
    font-size: 32px;
    line-height: 36px;
  }
  .p-filter__mobbtn {
    height: 40px;
    width: 100%;
    display: block;
    background-color: #f4f4f4;
    text-align: center;
  }
  .p-filter__mobbtn span {
    display: inline-block;
    line-height: 40px;
    color: #1e1e1e;
    font-size: 13px;
    position: relative;
    padding-right: 14px;
  }
  .p-filter__mobbtn span::after {
    content: '';
    width: 10px;
    height: 6px;
    background-image: url(../img/icons/arrow-toggle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
  }
  .p-filter__mobbtn:hover {
    text-decoration: none;
    color: #1e1e1e;
  }
  .p-filter__mobbtn.active span::after {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
  }
  .p-filter {
    display: none;
  }
  .page__p-filter {
    padding-bottom: 8px;
  }
  .p-catsort {
    height: 40px;
    line-height: 40px;
    width: 100%;
    display: block;
    background-color: #f4f4f4;
    text-align: center;
  }
  .p-catsort__select {
    background-color: transparent;
  }
  .p-catitem__top {
    height: 205px;
  }
  .p-catitem__hover {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-mobpagination {
    position: relative;
    max-width: 190px;
    width: 100%;
    margin: 0 auto;
  }
  .p-mobpagination .owl-nav span {
    display: none;
  }
  .p-mobpagination .owl-prev {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    background-color: #1e1e1e !important;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    z-index: 1;
  }
  .p-mobpagination .owl-prev::after {
    content: '';
    width: 6px;
    height: 11px;
    position: absolute;
    left: 50%;
    margin-left: -4px;
    top: 50%;
    margin-top: -5.5px;
    background-image: url(../img/icons/white-arrow.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center center !important;
  }
  .p-mobpagination .owl-next {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    background-color: #1e1e1e !important;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    z-index: 1;
  }
  .p-mobpagination .owl-next::after {
    content: '';
    width: 6px;
    height: 11px;
    position: absolute;
    right: 50%;
    margin-right: -4px;
    top: 50%;
    margin-top: -5.5px;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    background-image: url(../img/icons/white-arrow.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center center !important;
  }
  .p-mobpagination__item {
    color: #a1a1a1;
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
  }
  .p-mobpagination__item span {
    color: #1e1e1e;
  }
  .p-catitem__hover {
    z-index: 3;
  }
  .page__p-cardslider {
    display: none;
  }
  .page__p-cardslidermob {
    margin-bottom: 28px;
  }
  .p-cardslidermob__item {
    height: 436px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  .p-cardslidermob .owl-dots {
    font-size: 0;
    position: absolute;
    left: 17px;
    bottom: 18px;
    z-index: 1;
  }
  .p-cardslidermob .owl-dots span {
    display: none;
  }
  .p-cardslidermob .owl-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    padding: 0 !important;
    background-color: #232323 !important;
    display: inline-block;
    margin: 0 3px;
    opacity: .4;
  }
  .p-cardslidermob .owl-dot.active {
    opacity: 1 !important;
  }
  .p-cardcontent__row {
    margin-top: 17px;
  }
  .p-cardcontent__status {
    margin-right: 0;
    display: block;
  }
  .p-cardcontent__dostavka {
    display: block;
  }
  .ui-selectmenu-button.ui-button {
    margin-bottom: 21px;
  }
  .p-cardcontent__count {
    margin-bottom: 24px;
  }
  .p-cardcontent__fav {
    margin: 15px 0;
  }
  .p-cardcontent__help {
    margin-top: 10px;
  }
  .p-advantages {
    text-align: center !important;
    padding: 29px 38px 22px;
  }
  .page__p-advantagesmob {
    padding-bottom: 59px;
  }
  .p-advantagesmob {
    padding-bottom: 20px;
  }
  .p-advantagesmob .owl-dots {
    font-size: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 1;
  }
  .p-advantagesmob .owl-dots span {
    display: none;
  }
  .p-advantagesmob .owl-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    padding: 0 !important;
    background-color: #232323 !important;
    display: inline-block;
    margin: 0 3px;
    opacity: .4;
  }
  .p-advantagesmob .owl-dot.active {
    opacity: 1 !important;
  }
  .page__p-subtitle {
    margin-bottom: 23px;
  }
  .p-cardlike {
    padding-bottom: 20px;
  }
  .p-cardlike .owl-dots {
    font-size: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 1;
  }
  .p-cardlike .owl-dots span {
    display: none;
  }
  .p-cardlike .owl-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    padding: 0 !important;
    background-color: #232323 !important;
    display: inline-block;
    margin: 0 3px;
    opacity: .4;
  }
  .p-cardlike .owl-dot.active {
    opacity: 1 !important;
  }
  .page__p-cardlike {
    padding-bottom: 59px;
  }
  .p-lastitem {
    height: 132px;
  }
  .page__p-lastitem {
    padding-bottom: 80px;
  }
  .page__p-content {
    padding-bottom: 30px;
  }
  .page__p-title {
    padding-bottom: 28px;
  }
  .p-cardcontent__accord-page {
    padding-bottom: 70px;
  }
  .page__p-lcab {
    margin-bottom: 15px;
  }
  .p-lcab__row {
    margin-bottom: 25px;
  }
  .page__p-exit {
    margin-bottom: 30px;
  }
  .p-exit {
    display: inline-block;
    color: #a1a1a1;
    font-size: 13px;
    line-height: 15px;
    text-decoration: underline;
    background-image: url(../img/icons/exit.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    padding-left: 20px;
  }
  .p-exit:hover {
    text-decoration: underline;
    color: #a1a1a1;
  }
  .p-lcab {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-sum {
    padding: 30px;
  }
  .p-orderform__check {
    margin-bottom: 0;
    margin-top: 15px;
  }
  .p-orderform .ui-selectmenu-button.ui-button {
    margin-bottom: 0;
  }
  .p-order__title {
    margin-bottom: 15px;
  }
  .page__p-sum {
    padding-top: 0;
  }
  .p-order__name {
    font-size: 16px;
    line-height: 19px;
  }
  .p-order__art {
    font-size: 12px;
    line-height: 14px;
  }
  .p-order__wrapper {
    text-align: left;
    padding-top: 18px;
  }
  .p-favourites__item {
    padding-left: 0;
  }
  .p-favourites__check {
    top: 0;
    margin: 0;
    z-index: 2;
    background-color: #fff;
  }
  .p-favourites .p-order__art {
    margin-bottom: 19px;
  }
  .p-favourites .ui-selectmenu-button.ui-button {
    margin-bottom: 0;
  }
  .p-favourites__wp {
    margin-top: 13px;
  }
  .p-favourites .p-order__img {
    max-height: none;
    width: 100%;
  }
  .p-favourites__price {
    line-height: 16px;
  }
  .p-favourites__wp-price {
    text-align: center;
  }
  .p-favourites__wp-price .p-favourites__price {
    color: #1e1e1e;
    font-size: 16px;
    font-family: "RobotoCondensedBold", sans-serif;
    margin-top: -6px;
  }
  .p-favourites__wp-last {
    margin-top: 30px;
  }
  .page__p-placinganorder {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 35px;
  }
  .page__p-totalcost {
    text-align: right;
  }
  .p-share {
    display: inline-block;
    width: 72px;
  }
  .p-totalcost__title,
  .p-totalcost__price {
    text-align: right;
    display: block;
    line-height: 15px;
    width: 100%;
    float: none;
  }
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .page__p-lcab {
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
  }
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 373px) {
  .p-order__wrapper {
    padding-top: 5px;
  }
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 576px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .visible-xs {
    display: none;
  }
  .p-filter__mobbtn {
    display: none;
  }
  .page__p-cardslidermob {
    display: none;
  }
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .header__mob {
    display: none;
  }
  .visible-sm {
    display: none;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
